<!-- This file has been calledl in navbar.liquid -->
<ul class="list-unstyled mini-cart">
    <li class="media">
        <img src="https://via.placeholder.com/150" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>

            <div class="price">
                $30
            </div>

            <div class="input-group quantity mt-3">

                <div class="input-group-prepend">
                  <span class="input-group-text">-</span>
                </div>

                <input type="text" value="1" class="form-control w-25" aria-label="Product quantity">

                <div class="input-group-append">
                  <span class="input-group-text">+</span>
                </div>

            </div>

        </div>
    </li>

    <li class="media my-4">
      <img src="https://via.placeholder.com/150" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1">List-based media object</h5>

    </div>
    </li>
    
    
</ul>