<div class="container">
  <div class="row main">
    <div class="col-md-4 menu"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4 item"></div>
        <div class="col-md-4 item"></div>
        <div class="col-md-4 item"></div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Grid Layout",
    "settings": [
      {
        "type": "header",
        "content": "Image Slider"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Slider Title"
      }
    ],
    "presets": [
      {
        "name": "Grid Layout",
        "category": "Layout"
      }
    ]
  }
{% endschema %}