
<section class="image-slider">

    {% if section.settings.title != blank %}
        <h3 class="h3 text-center">
            {{section.settings.title}}
        </h3>
    {% endif %}

    <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  {% for block in section.blocks %}
                    <li data-target="#carouselExampleCaptions" data-slide-to="{{forloop.index0}}" {%if  forloop.index0 == 0 %} class="active"{%endif%}></li>
                {% endfor %}
              </ol>
              <div class="carousel-inner">

                    {% for block in section.blocks %}

                        <div class="carousel-item {% if forloop.first %} active {%endif%}">
                            <img src="{{ block.settings.image | img_url:'master' }}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5> {{ block.settings.title }} </h5>

                            </div>
                        </div>

                    {% endfor %}


              </div>
              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
    </div>






</section>

{% schema %}
  {
    "name": "Image Slider",
    "max_blocks": 10,
    "settings": [
      {
        "type": "header",
        "content": "Image Slider"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Slider title"
      }
    ],

    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Image title"
          }
        ]
      }
    ],

    "presets": [
      {
        "name": "Image Slider",
        "category": "Image"
      }
    ]
  }
{% endschema %}
