@import '~bootstrap/scss/bootstrap';

.row {
    border: 1px red solid
}

.col-md-4 {
    border: 1px blue solid
};

.main {
    min-height: 800px
}

.menu {
    height: 400px;
    width: 400px;
}

.item {
    height: 300px;
    width: 300px;
}